@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F9FA;
  --text: #2D2D2D;
  --primary: #A78BFA;
  --secondary: #E5E5E5;
  --accent: #809BFF;
}

.dark {
  --background: #1E1E2A;
  --text: #E4E4E4;
  --primary: #7C5CBF;
  --secondary: #373744;
  --accent: #9EA8FF;
}